/* @font-face {
    font-family: 'Freight';
    src: url('../fonts/FreightSansProLight-Regular.ttf');
} */
font-family: 'DM Serif Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
